		body{
			margin: 0px;
		}

		.container{
			margin: auto;
			max-width: 900px;
		}

		header{
			background-color: #000;
			color: #fff;
			padding-top: 20px;
			padding-bottom: 20px;
			height: 200px;
			background-image: url(img/imagem1.jpeg);
			line-height: px;
			text-align: center;
			font-size: 2.5em;
		}

		.menu-menu-container ul{
			margin: 0px;
			padding: 0px;
			list-style: none;
		}

		.menu-menu-container ul li{
			display: inline-block;
			padding: 20px;
		}

		.menu-menu-container ul li:hover{
			background-color: #bbb;
		}

		.menu-menu-container ul li a{
			text-decoration: none;
			color: #000;
		}

		.menu-menu-container{
			border-bottom: 1px solid #999;
		}

		/* index */

		.inde h1{
			font-size: 2em;
			color: black;
		}

		.inde{
			background-color: #eeeeee;
			border-radius: 3%;
		}

		.content h1{
			font-size: 2em;
		}

		.content p{
			font-size: 1.3em;
			color: black;
		}

		/* widgets */

		.widget{
			text-align: right;
		}

		.widget li{
			list-style: none;
		}

		.widget h3{
			font-size: 2em;
		}

		.widget ul{
			font-size: 1.5em;
		}


		/* sidebar */

		.sidebar{
			background-color: ;
		}

		/*comments*/

		.reply{

		}

		.comment{
			list-style: none;
			padding: 20px;
			margin-bottom: 20px;
			background-color: #eeeeee;
		}

		.comment .comment{
			margin-top: 20px;
			list-style: none;
			background-color: #eeeeee;
		}

		/* header */

		.logo{
			margin-left: 8%;
		}

		.grid-list__item{
			text-align: center;
			list-style: none;
		}
